<mat-card>
    <mat-card-content>
        <!-- search -->
        <dgi-search></dgi-search>
        <!-- list -->
        <dgi-list [jurados]="jurados$ | async" (onGetProyectos)="onGetProyectos($event)" (onUpdateJurado)="onUpdateJurado($event)"
            (onDeleteJurado)="onDeleteJurado($event)"></dgi-list>
    </mat-card-content>
</mat-card>

<dgi-button-fab (click)="openDialog()" [color]="['accent']" [icon]="['add']" title="Crear nuevo Jurado"></dgi-button-fab>

<button mat-fab color="accent" class="button-fab" matTooltip="Vincular persona como Jurado">
    <mat-icon>link</mat-icon>
</button>