<!-- {{ etapa | json }} -->

<div class="etapa-editor-container">
  <form [formGroup]="tareaEditorForm" (ngSubmit)="onSubmit()" novalidate class="etapa-editor-container">

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Nombre de la Etapa (DIsabled)" disabled [value]="nameTarea">
    </mat-form-field>
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <!-- Nombre field -->
          <mat-form-field [hideRequiredMarker]="[false]" [floatLabel]="['auto']" class="example-full-width">
            <input matInput placeholder="Nombre" formControlName="nombre" required>
            <!-- <mat-error *ngIf="!nombre.invalid">Error</mat-error> -->
          </mat-form-field>
        </td>
        <td>

          <!-- Anterior field -->
          <mat-form-field [hideRequiredMarker]="[false]" class="example-full-width">
            <mat-select placeholder="Seleccionar tarea Anterior" formControlName="anterior">
              <mat-option value="" selected>-None-</mat-option>
              <ng-template ngFor let-tarea [ngForOf]="tareas$ | async">
                <mat-option *ngIf="tarea.id !== idTarea" [value]="tarea.id">{{ tarea.nombre }}</mat-option>
              </ng-template>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <!-- Requisito respuesta Activador -->
          <mat-form-field [floatLabel]="['auto']" class="example-full-width">
            <input matInput placeholder="Requisito respuesta Activador" formControlName="req_res_activador">
          </mat-form-field>
        </td>
        <td>
          <!-- Requisito respuesta Desactivador -->
          <mat-form-field [floatLabel]="['auto']" class="example-full-width">
            <input matInput placeholder="Requisito respuesta Deactivador" formControlName="req_res_desactivador">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <!-- Pazo en días -->
          <mat-form-field [floatLabel]="['auto']">
            <input type="number" matInput placeholder="Pazo en días" formControlName="plazo_dias" required>
          </mat-form-field>
        </td>
        <td>
          <!-- Orden field -->
          <mat-form-field [floatLabel]="['auto']">
            <input type="number" matInput placeholder="Orden" formControlName="orden">
          </mat-form-field>
        </td>
        <td>
          <!-- Rol Ejecuta field -->
          <!-- <mat-form-field [hideRequiredMarker]="[false]" class="example-full-width">
            <mat-select placeholder="Seleccionar el Rol que ejecuta" formControlName="rol_ejecuta">
              <mat-option value="" selected>-None-</mat-option>
              <ng-template ngFor let-roleEjecuta [ngForOf]="rolesEjecuta$ | async">
                <mat-option *ngIf="roleEjecuta.id !== idRolEjecuta" [value]="roleEjecuta.id">{{ roleEjecuta.nombre }}</mat-option>
              </ng-template>
            </mat-select>
          </mat-form-field> -->

          <mat-form-field [hideRequiredMarker]="[false]" class="example-full-width">
            <mat-select placeholder="Seleccionar el Rol que ejecuta" formControlName="rol_ejecuta" multiple>
              <mat-select-trigger>
                {{tareaEditorForm.controls['rol_ejecuta'].value ? tareaEditorForm.controls['rol_ejecuta'].value[0] : ''}}
                <span *ngIf="tareaEditorForm.controls['rol_ejecuta'].value?.length > 1" class="example-additional-selection">
                  (+{{tareaEditorForm.controls['rol_ejecuta'].value.length - 1}} others)
                </span>
              </mat-select-trigger>
              <mat-option value="" selected>-None-</mat-option>
              <ng-template ngFor let-roleEjecuta [ngForOf]="rolesEjecuta$ | async"></ng-template>
              <mat-option *ngIf="roleEjecuta.id !== idRolEjecuta" [value]="roleEjecuta.id">{{ roleEjecuta.nombre }}</mat-option>
              <!-- <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option> -->
              </ng-template>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <!-- Descripción field -->
    <mat-form-field [floatLabel]="['auto']">
      <textarea matInput placeholder="Descripción" matTextareaAutosize matAutosizeMaxRows="5" formControlName="descripcion" matAutosizeMinRows="2"></textarea>
    </mat-form-field>

    <!-- Buttons Actions -->
    <div mat-dialog-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!tareaEditorForm.valid" tabindex="0">Aceptar</button>
      <!-- <button mat-button type="button" [mat-dialog-close] tabindex="0">Cancelar</button> -->
    </div>
  </form>
</div>