<div class="documento-container">
  <form [formGroup]="documentoForm" (ngSubmit)="onSubmit()" novalidate class="documento-container">
    <h5>Nuevo Documento</h5>

    <table class="dgi-full-width" cellspacing="0">
      <tr>
        <td>
          <!-- Nombre field -->
          <mat-form-field [hideRequiredMarker]="[false]" [floatLabel]="['auto']">
            <input matInput placeholder="Nombre" formControlName="nombre" required>
          </mat-form-field>
        </td>
        <td>
          <!-- Alias field -->
          <mat-form-field [floatLabel]="['auto']" class="dgi-full-width">
            <input matInput placeholder="Alias" formControlName="alias" required>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <!-- Llave documento field -->
    <mat-form-field [floatLabel]="['auto']" class="dgi-full-width">
      <input matInput placeholder="Llave documento" formControlName="llave_documento" required>
    </mat-form-field>

    <!-- Descripción field -->
    <mat-form-field [floatLabel]="['auto']">
      <textarea matInput placeholder="Descripción" matTextareaAutosize matAutosizeMaxRows="5" formControlName="descripcion" matAutosizeMinRows="2"></textarea>
    </mat-form-field>

    <!-- Activo field -->
    <div class="checkbox">
      <mat-checkbox formControlName="activo">Activo</mat-checkbox>
    </div>

    <!-- Buttons Actions -->
    <div documentolog-actions>
      <button mat-button type="submit" [disabled]="!documentoForm.valid" documentolog-actions="0">Aceptar</button>
      <button mat-button type="button" [mat-dialog-close] Documento="0">Cancelar</button>
    </div>
  </form>
</div>