<mat-card class="example-card" *ngFor="let dictaminador of dictaminadores">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"> </div>
    <mat-card-title>{{ dictaminador.persona.nombres }} {{ dictaminador.persona.apellido_paterno }} {{ dictaminador.persona.apellido_materno
      }}
    </mat-card-title>
    <mat-card-subtitle>{{ dictaminador.activo }}</mat-card-subtitle>
    <span flex></span>
    <button mat-icon-button class="" color="primary" [matMenuTriggerFor]="dictaminadorMenu" [matMenuTriggerData]="{dictaminadorId: dictaminador.id}">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-card-header>
</mat-card>

<mat-menu #dictaminadorMenu="matMenu" yPosition="below" xPosition="before">
  <ng-template matMenuContent let-dictaminadorId="dictaminadorId">
    <button mat-menu-item (click)="onUpdateDictaminador.emit(dictaminadorId)">
      <!-- <mat-icon>dialpad</mat-icon> -->
      <span>Editar</span>
    </button>
    <button mat-menu-item (click)="onGetProyectos.emit(dictaminadorId)">
      <span>Proyectos</span>
    </button>
    <button mat-menu-item (click)="onDeleteDictaminador.emit(dictaminadorId)">
      <!-- <mat-icon>dialpad</mat-icon> -->
      <span>Eliminar</span>
    </button>
    <button mat-menu-item>
      <span>Settings</span>
    </button>
  </ng-template>
</mat-menu>