<!-- <table>
  <tr *ngFor="let perfil of perfiles">
    <td>{{ perfil | json }}</td>
  </tr>
</table> -->
<div class="button-row" *ngIf="moreOfOneSelected">
  <button mat-icon-button matTooltip="Eliminar seleccionados">
    <mat-icon aria-label="Eliminar seleccionados" color="warn">delete</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon aria-label="Eliminar seleccionados" color="warn">star</mat-icon>
  </button>
</div>

<mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <!-- Column Usuario -->
  <ng-container matColumnDef="username">
    <mat-header-cell *matHeaderCellDef>Username</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.data_usuario.username }}</mat-cell>
  </ng-container>

  <!-- Column Email -->
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.data_usuario.email }}</mat-cell>
  </ng-container>

  <!-- Column Is Staff -->
  <ng-container matColumnDef="is_staff">
    <mat-header-cell *matHeaderCellDef>Is Staff</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.data_usuario.is_staff }}</mat-cell>
  </ng-container>

  <!-- Column Nombres y Apellidos -->
  <ng-container matColumnDef="nombres">
    <mat-header-cell *matHeaderCellDef>Nombres y Apellidos</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.data_persona.nombres }} {{ element.data_persona.apellido_paterno }} {{ element.data_persona.apellido_materno
      }} </mat-cell>
  </ng-container>

  <!-- Column Num Doc -->
  <ng-container matColumnDef="num_doc">
    <mat-header-cell *matHeaderCellDef>Num Doc</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.data_persona.num_doc }}</mat-cell>
  </ng-container>

  <!-- Column Fecha de Nacimiento -->
  <ng-container matColumnDef="fecha_nacimiento">
    <mat-header-cell *matHeaderCellDef>Fecha de Nacimiento</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.data_persona.fecha_nacimiento }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></mat-row>

</mat-table>