@import '../../../styles/mixins.scss';
.drop-zone {
    font-weight: 600;
    ::ng-deep * {
      pointer-events: none; //added to fix bug that re-throws dragleave/dragenter by child elements
    }
  }
.dgi-file-input-content {
    display: inline-flex;
}
:host /deep/ .td-file-input {
  width: 8.2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}