<mat-card>
    <mat-card-content>
        <!-- search -->
        <dgi-search></dgi-search>
        <!-- list -->
        <dgi-list [documentos]="documentos" (onDelete)="onDelete($event)" (onUpdateDocumento)="onUpdateDocumento($event)"></dgi-list>
    </mat-card-content>
</mat-card>

<dgi-button-fab (click)="openDialog()" [color]="['accent']" [icon]="['add']" title="Crear nuevo Documento"></dgi-button-fab>

<!-- <button mat-fab (click)="onVincule()" color="accent" class="button-fab" matTooltip="Vincular persona con Tesita">
    <mat-icon>link</mat-icon>
</button> -->