<div class="card-container">
<dgi-seg-procesos></dgi-seg-procesos>
</div>





<!--
<md-card role="region">
<td-steps mode="horizontal">
        <td-step #step1 label="Etapa 1" sublabel="Esta es la etapa 1." [active]="true" [disabled]="disabled" >
          <ng-template td-step-label><span>Etapa 1</span></ng-template>
          Etapa 1
        </td-step>
      -->


        <!-- <td-step #step2 label="Etapa 2" sublabel="Esta es la etapa 2." [state]="stateStep2" [disabled]="disabled" disableRipple>
          This step is required!
          <ng-template td-step-actions> -->
      <!-- <button md-raised-button color="primary" (click)="toggleRequiredStep2()" class="text-upper">Toggle Require</button> -->
      <!-- <button md-button (click)="step2.active = false" class="text-upper">Cancel</button> -->
          <!-- </ng-template>
        </td-step> -->

        <!--
        <td-step #step2 label="Etapa 3" sublabel="Esta es la etapa 2." [active]="false" [disabled]="disabled" >
          <ng-template td-step-label><span>Etapa 2</span></ng-template>
          Etapa 2
        </td-step>
        <td-step #step3 label="Etapa 3" sublabel="Esta es la etapa 3." [active]="false" [disabled]="disabled" >
          <ng-template td-step-label><span>Etapa 3</span></ng-template>
          Etapa 3
        </td-step>
        <td-step #step4 label="Etapa 4" sublabel="Esta es la etapa 4." [active]="false" [disabled]="disabled" >
          <ng-template td-step-label><span>Etapa 4</span></ng-template>
          Etapa 4
        </td-step>
        <td-step #step5 label="Etapa 5" sublabel="Esta es la etapa 5." [active]="false" [disabled]="disabled" >
          <ng-template td-step-label><span>Etapa 5</span></ng-template>
          Etapa 5
        </td-step>
      </td-steps>
</md-card>
-->