<!-- <h1 mat-dialog-title>Hi {{data.name}}</h1> -->
<h3 mat-dialog-title>NUEVO PROYECTO</h3>
<form [formGroup]="tesisProcesoForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <p class="p-small">Ingrese un título tentativo al proyecto</p>
    <mat-form-field class="full-width">
      <textarea matInput #proyectoTitulo tabindex="3" formControlName="proyecto_titulo" maxlength="{{ lengtMaxProyectoTitulo }}"
        minlength="{{ lengtMinProyectoTitulo }}"></textarea>
      <mat-hint align="end">{{proyectoTitulo.value.length}} / {{ lengtMaxProyectoTitulo }}</mat-hint>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="submit" [disabled]="!tesisProcesoForm.valid" tabindex="1">ACEPTAR</button>
    <!-- [mat-dialog-close]="tesisProcesoForm.value" -->
    <!-- <button mat-button [mat-dialog-close]="tesisProcesoForm.value" tabindex="1">ACEPTAR</button> -->
    <button mat-button type="button" [disabled]="tesisProcesoForm.pristine" (click)="onNoClick()" tabindex="-1">CANCELAR</button>
  </div>
</form>