<div class="generador-documentos-container">
    <h3>Editar generador de documentos</h3>
    <form [formGroup]="generadorDocForm" novalidate class="generador-documentos-container">
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <!-- Label field -->
                    <mat-form-field [floatLabel]="['auto']" class="example-full-width">
                        <input matInput placeholder="Label" formControlName="label" required>
                    </mat-form-field>
                </td>
                <td>
                    <!-- Name field -->
                    <mat-form-field [floatLabel]="['auto']" class="example-full-width">
                        <input matInput placeholder="Name" formControlName="name" required>
                        <mat-hint align="start">
                            <strong>Este campo es unico.</strong>
                        </mat-hint>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <!-- Icon field -->
                    <mat-form-field [floatLabel]="['auto']" class="example-full-width">
                        <input matInput placeholder="Icon" formControlName="icon">
                        <mat-hint align="start">
                            <strong>https://material.io/tools/icons</strong>
                        </mat-hint>
                    </mat-form-field>
                </td>
                <td>
                    <!-- Hint Start field -->
                    <mat-form-field [floatLabel]="['auto']" class="example-full-width">
                        <input matInput placeholder="Hint Start (Texto de ayúda.)" formControlName="hint_start">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <!-- Orden field -->
                    <mat-form-field [floatLabel]="['auto']" class="example-full-width">
                        <input type="number" matInput placeholder="Orden" formControlName="order" required>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field [floatLabel]="['auto']" class="example-full-width">
                        <!-- <mat-select placeholder="Favorite animal" [formControl]="animalControl" required> -->
                        <mat-select placeholder="Seleccione el documento." required formControlName="documento">
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let documento of documentos" [value]="documento.id" [title]="documento.nombre">
                                {{ documento.alias }}
                            </mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error> -->
                        <!-- <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <!-- Width field -->
                    <mat-form-field [floatLabel]="['auto']" class="example-full-width">
                        <input type="number" matInput placeholder="Width" formControlName="width" required>
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <p>Lista de campos Obligadorios para activar el botón</p>
        <section class="example-section" *ngFor="let campo of campos">
            <mat-checkbox class="example-margin" [checked]="campo.checked" (change)="onChangeCheckedCampo($event, campo.id)">{{ campo.label }}</mat-checkbox>
        </section>
        <div mat-dialog-actions>
            <button mat-raised-button color="warn" (click)="onDeleteFieldGeneradorDocumentos()" class="dgi-button-delete">Eliminar Campo</button>
            <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!generadorDocForm.valid" tabindex="0">Aceptar</button>
            <button mat-button type="button" [mat-dialog-close] tabindex="0">Cancelar</button>
        </div>
    </form>

</div>
<!-- {{ generadorDocForm.valid | json }} -->
<!-- {{ generadorDocForm.value | json }} -->