© 2017 Devotion. All rights reserved.
<!--<footer class="footer">
  <div class="footer-container" *ngIf="footerNav">
    <a class="left" *ngIf="footerNav.prev" [routerLink]="[footerNav.prev.route]">
      <i class="material-icons arrow-L">arrow_back</i>
      <span class="direction">Previous</span>
      <div>{{footerNav.prev.name}}</div>
    </a>
    <a class="right" *ngIf="footerNav.next" [routerLink]="[footerNav.next.route]">
      <i class="material-icons arrow-R">arrow_forward</i>
      <span class="direction">Next</span>
      <div>{{footerNav.next.name}}</div>
    </a>
  </div>
</footer>-->