<div class="linea-investigacion-container">
    <!-- <h4 mat-dialog-title>Nueva linea de investigación</h4> -->
    <h5>Nueva linea de investigación</h5>
    <form  class="linea-investigacion-container" 
          (ngSubmit)="onSubmit()"  novalidate
          [formGroup]="createForm">
    
      <!-- Nombre field -->
      <mat-form-field
        [hideRequiredMarker]="[false]"
        [floatLabel]="['auto']">
        <input matInput placeholder="Nombre" formControlName="nombre" required>
        <!-- <mat-error *ngIf="!nombre.invalid">Error</mat-error> -->
      </mat-form-field>
      
      <!-- Descripción field -->
      <mat-form-field
        [floatLabel]="['auto']">
        <textarea matInput placeholder="Descripción" matTextareaAutosize 
          matAutosizeMaxRows="5" formControlName="descripcion"
          matAutosizeMinRows="2"></textarea>
      </mat-form-field>
      
      <!-- Activo field -->
      <div class="checkbox">
        <mat-checkbox formControlName="activo">Activo</mat-checkbox>
      </div>
      
      <!-- Escuela field -->      
      <mat-form-field
      [hideRequiredMarker]="[false]">
        <mat-select placeholder="Seleccionar Escuela" formControlName="escuela" required>
          <!-- <mat-option value="" selected>-None-</mat-option> -->
          <mat-option *ngFor="let escuela of escuelas$ | async" [value]="escuela.id">{{ escuela.nombre }}</mat-option>
        </mat-select>
      </mat-form-field>
      
      <!-- Buttons Actions -->
      <div mat-dialog-actions>
      <button mat-button type="submit" [disabled]="!createForm.valid" tabindex="0">Aceptar</button>
      <button mat-button tabindex="0">Cancelar</button>
      </div>
    </form>
  </div>