<mat-card>
  <mat-card-content layout="row">
    <div layout="row">
      <button mat-mini-fab color="default" [routerLink]="['../../']">
        <mat-icon aria-label="Example icon-button with a heart icon">reply</mat-icon>
      </button>
      <p class="name-tarea">Nombre de la Tarea
        <strong>| Formularios</strong>
      </p>
      <span flex></span>
      <button mat-raised-button color="primary" (click)="newFormulario()">Nuevo Formulario</button>
    </div>
  </mat-card-content>
</mat-card>

<div class="content-formularios">
  <mat-card *ngFor="let formulario of formularios" [ngClass]="getFormClass(formulario)">
    <mat-card-header>
      <mat-card-title>{{ formulario.nombre }}</mat-card-title>
      <mat-card-subtitle> {{ formulario.descripcion }}</mat-card-subtitle>
      <button class="dgi-more-field" mat-icon-button [matMenuTriggerFor]="toolbarMenuOptions" matTooltip="Opciones">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #toolbarMenuOptions="matMenu" xPosition="before" yPosition="below" [overlapTrigger]="false">
        <button mat-menu-item (click)="agregarCampos(formulario)">
          <mat-icon>add</mat-icon>
          <span>Agregar Campos</span>
        </button>
        <button mat-menu-item (click)="agregarValidador(formulario)">
          <mat-icon>add</mat-icon>
          <span>Agregar Validador</span>
        </button>
        <button mat-menu-item (click)="agregarGeneradordoc(formulario)"> 
          <mat-icon>add</mat-icon>
          <span>Agregar Generador de documento.</span>
        </button>
        <button mat-menu-item (click)="editar(formulario)">
          <mat-icon>edit</mat-icon>
          <span>Editar</span>
        </button>
        <button mat-menu-item (click)="delete(formulario)">
          <mat-icon>delete</mat-icon>
          <span>Eliminar</span>
        </button>
      </mat-menu>
    </mat-card-header>
    <mat-card-content>
      <dgi-dynamic-form [config]="formulario?.data_campos" #form="dgiDynamicForm" (update)="update($event)" (submit)="submit($event)"></dgi-dynamic-form>
      {{ form?.valid }} {{ form?.value | json }}
    </mat-card-content>
  </mat-card>
</div>