<div class="asesor-container">
  <form [formGroup]="asesorForm" (ngSubmit)="onSubmit()" novalidate class="asesor-container">
    <h5>Nuevo Asesor</h5>

    <div formGroupName="persona" class="asesor-container">

      <!-- Nombres field -->
      <mat-form-field [hideRequiredMarker]="[false]" [floatLabel]="['auto']">
        <input matInput placeholder="Nombres" formControlName="nombres" required>
        <!-- <mat-error *ngIf="!nombre.invalid">Error</mat-error> -->
      </mat-form-field>

      <table class="dgi-full-width" cellspacing="0">
        <tr>
          <td>
            <!-- Apellido Paterno field -->
            <mat-form-field [floatLabel]="['auto']" class="dgi-full-width">
              <input matInput placeholder="Apellido Paterno" formControlName="apellido_paterno" required>
            </mat-form-field>
          </td>
          <td>
            <!-- Apellido Materno field -->
            <mat-form-field [floatLabel]="['auto']" class="dgi-full-width">
              <input matInput placeholder="Apellido Materno" formControlName="apellido_materno" required>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <!-- Fecha de nacimiento field -->
      <mat-form-field>
        <input matInput [matDatepicker]="fechaNac" placeholder="Fecha de Nacimiento" formControlName="fecha_nacimiento">
        <mat-datepicker-toggle matSuffix [for]="fechaNac"></mat-datepicker-toggle>
        <mat-datepicker #fechaNac></mat-datepicker>
      </mat-form-field>

      <!-- Genero field -->
      <mat-radio-group formControlName="genero" required>
        <mat-radio-button value="M">Masculino</mat-radio-button>
        <mat-radio-button value="F">Femenino</mat-radio-button>
      </mat-radio-group>

    </div>

    <!-- Activo field -->
    <div class="checkbox">
      <mat-checkbox formControlName="activo">Activo</mat-checkbox>
    </div>

    <!-- Buttons Actions -->
    <div mat-dialog-actions>
      <button mat-button type="submit" [disabled]="!asesorForm.valid" tabindex="0">Aceptar</button>
      <button mat-button type="button" [mat-dialog-close] tabindex="0">Cancelar</button>
    </div>
  </form>
</div>