$w100: 100%;
$w50: 48%;
$w33: 31%;
$w25: 24%;
$w20: 19%;
$w10: 9%;

.input-100 {
    width: $w100;
}
.input-50 {
    width: $w50;
}
.input-33 {
    width: $w33;
}
.input-25 {
    width: $w25;
}
.input-20 {
    width: $w20;
}
.input-10 {
    width: $w10;
}
