.etapa-editor {
    width: 100%;
    display: flex;
    .etapa-editor-container {
        // display: flex;
        display: flex;
        width: 50%;
        flex-direction: column;
        form {
            width: 100%;
        }
    }
}

.etapa-editor-container-dynamic {
    width: 100%;
    flex-direction: column;
    display: flex;
    mat-card {
        width: 100%;
    }
}

.etapa-editor-container .checkbox {
    margin-bottom: 20px;
}

.example-full-width {
    width: 100%;
}

:host {
    // display: flex;
    // display: -webkit-box;
}