.etapa-editor-container {
    // display: flex;
    display: flex;
    width: 50%;
    flex-direction: column;
    form {
        width: 100%;
    }
}
.etapa-editor-container .checkbox {
    margin-bottom: 20px;
}

.example-full-width {
    width: 100%;
}

:host {
    display: flex;
}