<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Información General
      </mat-panel-title>
      <mat-panel-description>
        Información general del proceso.
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="proceso-info-container">
      <form [formGroup]="procesoForm" novalidate (ngSubmit)="onSubmit()">
        <div layout="row">
          <mat-input-container flex>
            <input matInput placeholder="Nombre" formControlName="nombre">
          </mat-input-container>
        </div>
        <div layout="row">
          <mat-input-container flex>
            <input matInput placeholder="Descripción" formControlName="descripcion">
          </mat-input-container>
        </div>
        <div layout="row">
          <mat-slide-toggle formControlName="activo">Activo</mat-slide-toggle>
        </div>
        <div layout="row">
          <button mat-raised-button color="primary" type="submit" [disabled]="procesoForm.invalid">Guardar</button>
        </div>
      </form>
    </div>

  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Roles
      </mat-panel-title>
      <mat-panel-description>
        <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
        Roles del proceso
      </mat-panel-description>
    </mat-expansion-panel-header>

    <button mat-raised-button color="primary" (click)="newRolProceso()">Nuevo Rol</button>

    <mat-list>
      <mat-list-item *ngFor="let item of rolProcesos$ | async">
        <span flex>{{ item.nombre }} ({{ item.alias }})</span>


        <mat-slide-toggle (change)="onChangeActivoRolProceso($event, item.id)" [checked]="item.activo">Activo</mat-slide-toggle>

        <button mat-icon-button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{rolProcesoId: item.id }" class="dgi-button-rol-proceso-list">
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <!-- <p>I'm visible because I am open</p> -->
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Etapas
      </mat-panel-title>
      <mat-panel-description>
        <!-- Actuamente yo estoy {{panelOpenState ? 'open' : 'closed'}} -->
        Mantenimiento de Etapas del proceso
      </mat-panel-description>
    </mat-expansion-panel-header>
    <button mat-raised-button color="primary" (click)="newEtapa()">Nueva Etapa</button>

    <mat-horizontal-stepper>
      <mat-step *ngFor="let etapa of etapas$ | async" [label]="etapa.nombre">
        <dgi-etapa-editor [etapa]="etapa"></dgi-etapa-editor>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Tareas
      </mat-panel-title>
      <mat-panel-description>
        <!-- Actuamente yo estoy {{panelOpenState ? 'open' : 'closed'}} -->
        Mantenimiento de Tareas por Etapas
      </mat-panel-description>
    </mat-expansion-panel-header>
    <!-- <button mat-raised-button color="primary" (click)="newEtapa()">Nueva Tarea</button> -->
    <!-- <router-outlet></router-outlet> -->

    <h4>Lista de Etapas</h4>
    <h5>(Busque la etapa e ingrese a ver sus tareas)</h5>
    <mat-list>
      <mat-list-item *ngFor="let etapa of etapas$ | async">
        <span flex>{{ etapa.nombre }} ({{ etapa.plazo_dias }} Dias de plazo)</span>
        <!-- <mat-slide-toggle (change)="onChangeActivoRolProceso($event, item.id)" [checked]="item.activo">Activo</mat-slide-toggle> -->
        <button mat-icon-button [matMenuTriggerFor]="menuTarea" [matMenuTriggerData]="{etapaId: etapa.id }" class="dgi-button-rol-proceso-list">
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>

    <mat-menu #menuTarea="matMenu">
      <ng-template matMenuContent let-etapaId="etapaId">
        <button mat-menu-item [routerLink]="['etapas', etapaId ]">
          <mat-icon>edit</mat-icon>
          <span>Ver</span>
        </button>
      </ng-template>
    </mat-menu>











  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Formularios Dinámicos
      </mat-panel-title>
      <mat-panel-description>
        <!-- Actuamente yo estoy {{panelOpenState ? 'open' : 'closed'}} -->
        Formularios dinámicos
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion>


<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-rolProcesoId="rolProcesoId">
    <button mat-menu-item (click)="onDeleteRolProceso(rolProcesoId)">
      <mat-icon>delete</mat-icon>
      <span>Eliminar</span>
    </button>
  </ng-template>
</mat-menu>