.example-card {
    max-width: 15rem;
    // max-width: 400px;
}
.example-header-image {
    margin: auto;
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
:host {
    display: flex;
    flex-wrap: wrap;
}
