
<mat-card  *ngFor="let proceso of procesos$ | async" class="proceso-card" role="region">
  <!-- <mat-card-header>
    <img mat-card-avatar src="https://thumbs.dreamstime.com/z/diploma-y-casquillo-eps-de-la-graduaci%C3%B3n-1689288.jpg">
      <mat-card-title>{{proceso.nombre}}</mat-card-title>
    </mat-card-header>
  <mat-divider></mat-divider>-->  
  <mat-card-content>
    <p> <b>{{proceso.nombre}}</b>  </p>
    <!--  <mat-slide-toggle color="warn" [checked]="proceso.activo" >
      Activo
      </mat-slide-toggle>-->
  </mat-card-content>
  <mat-card-actions align = 'end'>
    <!-- <button color="accent" mat-button>LIKE</button>-->
    <!-- <button color="accent"  [routerLink]="['/seguimiento/proyectos/', proceso.id]" mat-button >INGRESAR</button> -->
    <button color="accent"  [routerLink]="['/seguimientos/', proceso.id]" mat-button >INGRESAR</button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title fxLayout  fxLayoutAlign="space-between stretch">
      Esta es mi Tesis
      <button mat-icon-button
      color="primary"
      (click)="add()">
      <mat-icon>playlist_add</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-subtitle>
    subtitle
  </mat-card-subtitle>
  <img mat-card-avatar>
</mat-card-header>
</mat-card>

<!--
<mat-card>
  <mat-card-header>
    <img mat-card-avatar>
    <div  class="mat-card-header-text">
      <mat-card-title fxLayout  fxLayoutAlign="space-between stretch">
        Esta es mi Tesis
        <button mat-icon-button
          color="primary"
          [matMenuTriggerFor]="TesisProcesoMenu" >
            <mat-icon>more_vert</mat-icon>
        </button>
    </mat-card-title>
    <mat-card-subtitle>
        subtitle
    </mat-card-subtitle>
    <img mat-card-avatar>
  </div>
</mat-card-header>
</mat-card>
-->

