<mat-sidenav-container class="flow-tesis-container">

    <!-- Sidenav Etapas -->
    <mat-sidenav #sidenav mode="side" opened="true" class="mat-sidenav">
        <mat-vertical-stepper #sidenavEtapas>
            <!-- <mat-step *ngFor="let tesisEtapa of tesisEtapas" label="{{ tesisEtapa.data_etapa.id }}"> -->
            <mat-step *ngFor="let tesisEtapa of tesisEtapas" label="{{ tesisEtapa.string_data }}">
                <ng-template matStepLabel>{{ tesisEtapa.data_etapa.nombre }}</ng-template>
                {{ tesisEtapa.data_etapa.descripcion }}
            </mat-step>
        </mat-vertical-stepper>
    </mat-sidenav>

    <!-- Stepper Tareas -->
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <!--warn, primary, accent-->
            <p class="name-project">
                {{ tesisProceso?.data_proyecto.titulo }}
            </p>
        </mat-toolbar>

        <mat-card class="mat-card-content">
            <mat-horizontal-stepper #tareasStepper [linear]="[true]">
                <mat-step label="{{ tesisTarea.data_tarea.id }}" *ngFor="let tesisTarea of tesisTareas">
                    <ng-template matStepLabel>{{ tesisTarea.data_tarea.nombre }}</ng-template>

                    <dgi-many-dynamic-form [formularios]="formularios"></dgi-many-dynamic-form>

                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </mat-card>
        <dgi-flow-buttons-footer [sidenavEtapas]="sidenavEtapas"></dgi-flow-buttons-footer>
    </mat-sidenav-content>
</mat-sidenav-container>