@import "../../../../styles.scss";

.mat-toolbar {
  height: 50px;
}

::ng-deep .mat-step-label {
  font-size: 12px !important;
}

::ng-deep .mat-vertical-content {
  font-size: 11px !important;
  font-weight: 300;
}

::ng-deep .mat-horizontal-stepper-header {
  // height: 72px !important;
  height: 50px !important;
}

.mat-card-content {
  /*height: 97%;*/
  width: 98%;
}

.flow-tesis-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.mat-sidenav {
  width: 225px;
}

.name-project{
  font-size: 10pt;
}
    
.flow-tesis-proceso-container {
  display: flex; 
  flex-direction: column;
}

.flow-tesis-proceso-container .checkbox{
  margin-bottom: 20px;
}



/** footer */
.footer {
  display: block;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 96px;
  margin-top: 30px;
  background: #fff;
  color: #000;
  box-sizing: border-box;
  overflow: hidden;

  .footer-container {
    width: 100%;
    height: 100%;
    padding: 0 30px;
    box-sizing: border-box;
  }

  a {
    width: 50%;
    height: 100%;
    padding-top: 24px;
    float: left;
    color: rgba(#000, 0.87);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    box-sizing: border-box;

    &:hover,
    &:focus {
      color: #000;
      text-decoration: none;
    }

    .material-icons {
      float: left;
      margin-right: 10px;
      padding-top: 23px;
      width: 24px;
    }

    .direction {
      margin-bottom: 1px;
      font-size: 15px;
      line-height: 18px;
      color: rgba(#000, 0.55);
    }

    &.right {
      float: right;
      text-align: right;

      .material-icons {
        float: right;
        margin-right: 0;
        margin-left: 10px;
      }
    }
  }
}