<!-- <mat-form-field>
    <mat-select placeholder="Tipo de Campo" [formControl]="tipoCampo">
        <mat-option>-- None --</mat-option>
        <mat-optgroup *ngFor="let group of tiposDeCampos" [label]="group.name" [disabled]="group.disabled">
            <mat-option *ngFor="let campo of group.campos" [value]="campo.value">
                {{ campo.viewValue }}
            </mat-option>
        </mat-optgroup>
    </mat-select>
</mat-form-field> -->

<mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="pasoOneForm">
        <form [formGroup]="pasoOneForm">
            <ng-template matStepLabel>Seleccionar Tipo</ng-template>


            <mat-form-field>
                <!-- <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required> -->
                <mat-select placeholder="Tipo de Campo" formControlName="type">
                    <mat-option>-- None --</mat-option>
                    <mat-optgroup *ngFor="let group of tiposDeCampos" [label]="group.name" [disabled]="group.disabled">
                        <mat-option *ngFor="let campo of group.campos" [value]="campo.value">
                            {{ campo.viewValue }}
                        </mat-option>
                    </mat-optgroup>
                </mat-select>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Siguiente</button>
            </div>


        </form>
    </mat-step>
    <mat-step [stepControl]="pasoTwoForm">
        <ng-template matStepLabel>Atributos del Campo</ng-template>
        <mat-card>
            <mat-card-content>

                <div class="campo-container">
                    <form [formGroup]="pasoTwoForm" class="campo-container">
                        <!-- Nombre field Disabled -->
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Tipo del campo (DIsabled)" disabled [value]="pasoOneForm.get('type').value">
                            <!-- <input matInput placeholder="Tipo del campo (DIsabled)" disabled [value]="'tipo'"> -->
                        </mat-form-field>

                        <mat-radio-group *ngIf="pasoOneForm.get('type').value === 'select'" [formControl]="isModelOrJSON">
                            <mat-radio-button value="MODEL">Modelo</mat-radio-button>
                            <mat-radio-button value="JSON">JSON</mat-radio-button>
                        </mat-radio-group>

                        <table class="example-full-width" cellspacing="0">
                            <tr>
                                <td>
                                    <!-- Label field -->
                                    <mat-form-field [floatLabel]="['auto']" class="example-full-width">
                                        <input matInput placeholder="Label" formControlName="label" required>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <!-- Name field -->
                                    <mat-form-field [floatLabel]="['auto']" class="example-full-width">
                                        <input matInput placeholder="Name" formControlName="name" required>
                                        <mat-hint align="start">
                                            <strong>Este campo es unico.</strong>
                                        </mat-hint>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <!-- Placeholder field -->
                                    <mat-form-field [floatLabel]="['auto']" class="example-full-width">
                                        <input matInput placeholder="Placeholder" formControlName="placeholder" required>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <!-- Width field -->
                                    <mat-form-field [floatLabel]="['auto']" class="example-full-width">
                                        <input type="number" matInput placeholder="Width" formControlName="width" required>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <!-- Orden field -->
                                    <mat-form-field [floatLabel]="['auto']" class="example-full-width">
                                        <input type="number" matInput placeholder="Orden" formControlName="order" required>
                                    </mat-form-field>
                                </td>
                                <td *ngIf="pasoOneForm.get('type').value !== 'fileinput'
                                && pasoOneForm.get('type').value !== 'date'
                                && pasoOneForm.get('type').value !== 'select'">
                                    <!-- Icon field -->
                                    <mat-form-field [floatLabel]="['auto']" class="example-full-width">
                                        <input matInput placeholder="Icon" formControlName="icon">
                                        <mat-hint align="start">
                                            <strong>https://material.io/tools/icons</strong>
                                        </mat-hint>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td *ngIf="pasoOneForm.get('type').value !== 'fileinput'
                                && pasoOneForm.get('type').value !== 'date'
                                && pasoOneForm.get('type').value !== 'select'">
                                    <!-- Prefix field -->
                                    <mat-form-field [floatLabel]="['auto']" class="example-full-width">
                                        <input matInput placeholder="Prefix (Ejemplo: Códigos telefónicos)" formControlName="prefix">
                                    </mat-form-field>
                                </td>
                                <ng-container *ngIf="pasoOneForm.get('type').value === 'select' && isModelOrJSON.value === 'MODEL'">
                                    <td>
                                        <!-- Model field -->
                                        <mat-form-field [floatLabel]="['auto']" class="example-full-width">
                                            <input matInput placeholder="Model (Solo para select)" formControlName="model_name" required>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <!-- Model field Pk -->
                                        <mat-form-field [floatLabel]="['auto']" class="example-full-width">
                                            <input matInput placeholder="Model Id" formControlName="model_pk" required>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <!-- Model field Label-->
                                        <mat-form-field [floatLabel]="['auto']" class="example-full-width">
                                            <input matInput placeholder="Model Label" formControlName="model_label" required>
                                        </mat-form-field>
                                    </td>
                                </ng-container>
                            </tr>
                        </table>

                        <!-- JSON field -->
                        <mat-form-field [floatLabel]="['auto']" *ngIf="pasoOneForm.get('type').value === 'select' && isModelOrJSON.value === 'JSON'">
                            <textarea matInput placeholder="JSON (Solo para select Ejm: [{id: '1', label: 'Opcion 1'}, {id: '2', label: 'Opcion 2'}])"
                                matTextareaAutosize matAutosizeMaxRows="5" formControlName="json" matAutosizeMinRows="2"></textarea>
                        </mat-form-field>

                        <!-- Hint Start field -->
                        <mat-form-field [floatLabel]="['auto']">
                            <input matInput placeholder="Hint Start (Texto de ayúda.)" formControlName="hint_start">
                        </mat-form-field>

                        <span>Adicionales</span>

                        <!-- Requerido field -->
                        <div layout="row">
                            <mat-slide-toggle formControlName="required">Requerido</mat-slide-toggle>
                        </div>

                        <!-- Hint end count text field -->
                        <div layout="row" *ngIf="pasoOneForm.get('type').value !== 'select'
                         && pasoOneForm.get('type').value !== 'fileinput'
                         && pasoOneForm.get('type').value !== 'date'">
                            <mat-slide-toggle formControlName="hint_end_count_text">Hint end count text</mat-slide-toggle>
                        </div>

                        <!-- Disabled field -->
                        <div layout="row">
                            <mat-slide-toggle formControlName="disabled">Disabled</mat-slide-toggle>
                        </div>

                        <!-- Multiselect field -->
                        <div layout="row" *ngIf="pasoOneForm.get('type').value === 'select'">
                            <mat-slide-toggle formControlName="multiselect">Multiselect (Solo para select)</mat-slide-toggle>
                        </div>

                        <!-- Multiple for Inputfile field -->
                        <div layout="row" *ngIf="pasoOneForm.get('type').value === 'fileinput'">
                            <mat-slide-toggle formControlName="multiple_fileinput">Multiple</mat-slide-toggle>
                        </div>

                        <!-- Accept field -->
                        <div *ngIf="pasoOneForm.get('type').value === 'fileinput'">
                            <span>Aceptar</span>
                            <br>
                            <mat-checkbox [(ngModel)]="accept_fileinput.png" [ngModelOptions]="{standalone: true}">.png</mat-checkbox>
                            <mat-checkbox [(ngModel)]="accept_fileinput.jpg" [ngModelOptions]="{standalone: true}">.jpg</mat-checkbox>
                            <mat-checkbox [(ngModel)]="accept_fileinput.pdf" [ngModelOptions]="{standalone: true}">.pdf</mat-checkbox>
                            <mat-checkbox [(ngModel)]="accept_fileinput.docx" [ngModelOptions]="{standalone: true}">.docx</mat-checkbox>
                        </div>

                    </form>
                    <!-- <p>
                        {{ pasoTwoForm.value | json }}
                    </p> -->
                </div>
            </mat-card-content>
        </mat-card>
        <div>
            <button mat-button matStepperPrevious>Regresar</button>
            <button mat-button matStepperNext>Siguiente</button>
        </div>
    </mat-step>
    <mat-step [stepControl]="pasoThreeForm">
        <ng-template matStepLabel>Validadores</ng-template>
        <div>
            <button mat-button matStepperPrevious>Regresar</button>
            <button mat-button matStepperNext>Siguiente</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Confirmar</ng-template>
        Tu esta terminando.
        <div>
            <button mat-button matStepperPrevious>Regresar</button>
            <button mat-button (click)="stepper.reset()">Limpiar Formulario</button>
            <button mat-button (click)="save()">Guardar</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>